{% extends 'admin/base.html.twig' %}

{% block title %}Hello HobbyController!
{% endblock %}

{% block body %}
	<h2>Ajout d'un hobby</h2>
    
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
 	{{ form_start(form) }}
    	{{ form_label(form.name)}}
    	{{ form_widget(form.name)}}
 	<button class="btn btn-info">Ajouter</button>
	{{ form_end(form) }}

{% endblock %}
