{% extends 'admin/base.html.twig' %}

{% block title %}Hello HobbyController!
{% endblock %}

{% block body %}
	<h2>Modification d'un hobby</h2>
    
    <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Nom du hobby</label>
        <input type="text" class="form-control" placeholder="Entrez le nom du hobby" id="inputDefault">
    </div>
    <button type="button" class="btn btn-info">Modifier</button>
{% endblock %}