{% extends 'admin/base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<h2>Ajout d'un utilisateur</h2>
	
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-info">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}
