{% extends 'admin/base.html.twig' %}

{% block title %}Edition d'un service
{% endblock %}

{% block body %}
	<h2 class="m-3">Modification d'un service</h2>
	
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
	<div class="form m-3" style="width: 20rem;">
		{{ form_start(form) }}
			{{ form_label(form.name)}}
			{{ form_widget(form.name)}}
		<button class="btn btn-info mt-2">Modifier</button>
		{{ form_end(form) }}
	</div>
{% endblock %}